<section class="section">
  <div class="container-1">
  <h1 class="title">Posts</h1><hr><br><br>


    <div class="notification">

      <% @posts.each do |post| %>

      <article class="media">
        <figure class="media-left">
          <p class="image is-64x64">
            <img src="https://bulma.io/images/placeholders/128x128.png">
          </p>
        </figure>
        <div class="media-content">
          <div class="content">
            <span class="dark-text">

            <p>
              <tit><%= post.user.name %>   </tit><small class="sub">Photographer</small></span>
              <hr>

              <b><a href="posts/<%= post.id %>"><h3><%= post.title %></h3></a></b><br>
            <%=  post.description.truncate(100) %>
            <br>
            <small class="sub"><span class="dark-text"><%= post.created_at %></small>
            </p>
          </div>
          <nav class="level is-mobile">
            <div class="level-left">
              <a class="level-item">
                  <a href="posts/<%= post.id %>"><i class="fas fa-comments"><%= post.replies.length %></i></a> &nbsp
              </a>

            </div>
          </nav>
          </span>
        </div>
        <div class="media-right">

        </div>
      </article>

      <% end %>
    </div>
  </div>
</section>
