<div class="hero-body">
  <div class="container has-text-centered">
    <article class="media">
      <figure class="media-left">
        <p class="post is-64x64">
          <img src="<% @post.user.user_image %>">
        </p>
      </figure>
      <div class="media-content">
        <div class="content">
          <p>
            <h3><%= @post.title %></h3><hr>
            <small><%= User.first.name %></small>
            <small><%= @post.created_at %></small>
            <br>
            <br>

            <div>
              <%= @post.description %>
            </div>
          </p>
        </div>
        <nav class="level is-mobile">
          <div class="level-left">
            <div class="buttons has-addons">
              <% if current_user == @post.user %>
              <%= link_to 'Edit', edit_post_path(@post), class: "button" %>
              <%= link_to 'Delete', post_path, class: "button", method: :delete, data: { confirm: 'Are you sure you want to delete this post?'} %>
              <% end %>
              </div>
          </div>
        </nav>
      </div>
    </article>

    <%= @post.replies.each do |reply| %>
    <article class="media">
      <figure class="media-left">
        <p class="post is-64x64">
            <img src="<% @post.user.user_image %>">
        </p>
      </figure>
      <div class="media-content">
        <div class="content">
            <small><%= reply.id %></small>
            <small><%= @post.created_at %></small>
            <br>
            <br>

            <div>
              <%= reply.text %>
            </div>
        </div>
        <nav class="level is-mobile">
          <div class="level-left">
            <div class="buttons has-addons"></div>
          </div>
        </nav>
      </div>
      <div class="media-right">
  
      <% if current_user == @post.user %>
        <button class="delete"></button>
      <% end %>
      </div>
    </article>

  <% end %>

	<%= render 'replies/form', post: @post %>

</div>
</div>
