<div class="hero-body">
  <div class="container has-text-centered">

    <div class="grid-container">

      <% @images.each do |image| %>
        <div class="box-1">
          <article class="media">
            <div class="media-content">
              <strong><%= image.user.name %></strong>
              <%= time_ago_in_words(image.created_at) %>
              <div class="content">
                <p>
                  <a href="/images/<%= image.id %>">
                    <img src="<%= image.user_image.thumb %>"></a>


                    <i class="fa fa-eye"></i>
                    <%= image.impressionist_count %>


                    <% if user_signed_in? %>
                      <% if current_user.liked? image %>
                        <%= link_to unlike_image_path(image), method: :put, class: 'unlike_image' do %>
                          <i class="far fa-heart has-text-primary"></i>
                          <%= image.get_likes.size %>
                        <% end %>
                        <% else %>
                          <%= link_to like_image_path(image), method: :put, class: 'like_image' do %>
                          <i class="far fa-heart"></i>
                          <span class="vote_count"><%= image.get_likes.size %></span>
                        <% end %>
                      <% end %>
                    <% else %>



                  <%= link_to like_image_path(image), method: :put, class: 'like_image' do %>
                  <span class="like">
                    <i class="far fa-heart"></i>
                  </span>
                  <span class="vote_count"><%= shot.get_likes.size %></span>
                  <% end %>
                <% end %>
              </p>
            </div>
          </div>
        </div>

  <% end %>
</div>
</div>
</div>
</div>
