<div class="align">
  <div class="box col8">
    <div class="card">
      <div class="media">

        <div class="media-left">
          <figure class="image is-48x48">
            <img class="image is-rounded" src="<%= @image.user.images.first.user_image.thumb %>" alt="Placeholder image">
          </figure>
        </div>
        <div class="media-content">
          <br>
          <a href="/users/<%= @image.user_id %>"><p class="tit"><%= @image.user.name %></p><hr></a>
          <p class="sub">Photographer</p>
        </div>
      </div>

      <div class="card-image">
        <figure class="image is-4by3">
          <a href="/images/<%= @image.id %>">
            <img src="<%= @image.user_image.full %>" alt="Placeholder image">
          </a>
        </figure>
      </div>
      &nbsp
      <i class="far fa-eye"></i>
      <%= @image.impressionist_count %>
      &nbsp

      <% if user_signed_in? %>
        <% if current_user.liked? @image %>
          <%= link_to unlike_image_path(@image), method: :put, class: "unlike_image" do %>
          <span class="icon">
            <i class="fa fa-heart has-text-primary"></i>
          </span>
          <span class="vote_count"><%= @image.get_likes.size %></span>
        <% end %>
      <% else %>
        <%= link_to like_image_path(@image), method: :put, class: "like_image" do %>
        <span class="icon">
          <i class="fa fa-heart"></i>
        </span>
        <span class="vote_count"><%= @image.get_likes.size %></span>
      <% end %>
    <% end %>
  <% else %>
    <%= link_to like_image_path(@image), method: :put, class: "like_image" do %>
    <span class="icon">
      <i class="fa fa-heart"></i>
    </span>
    <span class="vote_count"><%= @image.get_likes.size %></span>
  <% end %>
<% end %>



<hr>

<div class="card-content">

  <div class="content">
    <%= @image.description %>
    <a>@bulmaio</a>.
    <a href="#">#css</a>
    <a href="#">#responsive</a>
    <br>
    <time datetime="2016-1-1"><%= @image.created_at %></time>

    <% if current_user == @image.user %>
      <br><br>
      <%= link_to 'Edit', edit_image_path(@image), class: "button" %>
      <%= link_to 'Delete', image_path, class: "button", method: :delete, data: { confirm: 'Are you sure you want to delete this image?'} %>
    <% end %>
  </div>
</div>
</div>

</div>

</div>
